body{
  background-color: black;
}
.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: white;
}
.title>button{
  border-radius: 10px;
  background-color: magenta;
  color: white;
  border: none;
  box-shadow: 0px 0px 6px gray;
}
.title>div{
  font-weight: bold;
  font-size: 1.2rem;
}
.title>div>span{
  color: aqua;
}
.title>div>p{
  font-size: 0.8rem;
  font-weight: lighter;
}
.content{
  display: grid;
  border: 1px solid black;
  width: 100%;
  grid-template-areas: 
  "a b c d"
  "e f g h";
  gap: 20px 20px;
}
.content>div{
  position: relative;
}
.content>div>.inform{
  visibility: hidden;
  position: absolute;
  top: 50%;
  right: 50%;
}
img{
  overflow: ;
}
.content>div{
  border: 1px solid red;
  width: 25%;
  height: 50%;
}
.content>div:nth-child(1){
  grid-area: a;
}
.content>div:nth-child(2){
  grid-area: b;
}
.content>div:nth-child(3){
  grid-area: c;
}
.content>div:nth-child(4){
  grid-area: d;
}
.content>div:nth-child(5){
  grid-area: e;
}
.content>div:nth-child(6){
  grid-area: f;
}
.content>div:nth-child(7){
  grid-area: g;
}
.content>div:nth-child(8){
  grid-area: h;
}

.conten>div:hover{

}
.content>div:hover{
  visibility: visible;

}