.reg-item-div{
  width: 50%;
  margin: 0 auto;
  padding: 30px;
  border-radius: 10px;
  background-color: rgba(230, 230, 230, 0.1);
  box-shadow: 3px 3px 6px #dddddd;
}

.input-element{
  margin-bottom: 16px;
  margin: 0 auto;
}

/* .input-element > div:nth-child(1){
  margin-bottom: 10px;
} */

.reg-item-div textarea.form-control{
  resize: none;
}
.reg-item-div .input-element{
  width: 100%;
}

.input-title{
  margin-bottom: 10px;
  margin-top: 10px;
}

.reg-item-div .btn-div{
  text-align: right;
}
.reg-item-div .file-div{
  text-align: left;
  
  margin-top: 10px;
}
