.menu{
  background-color: aqua;
  
}
.menu ul{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.stuList table tr td{
  border: 1px solid white;
}
.stuList>:first-child{
  background-color: cornflowerblue;
  color: white;
}