<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
    <form action="/title" method="post"> 
      <h1>학생 성적 입력 프로그램</h1> <br>
      [[${main3VO.getName}]] 학생의 정보를 입니다 <br>
      이름: [[${main3VO.getName}]] <br>
      학년: [[${main3VO.getGrade}]]<br>
      연락처:[[${main3VO.getStNum}]]-[[${main3VO.getNdNum}]]<br>
      성별: [[${main3VO.getGender}]]<br>
      국어: [[${main3VO.getKrScore}]]<br>
      수학: [[${main3VO.getMaScore}]]<br>
      영어: [[${main3VO.getEnScore}]]<br>
      <!-- 자바에서 연산 후 가지고오는 방법 -->
      평균1: [[${avg}]]
      <!-- 타입리프를 활용한 html내에서의 연산법 -->
      평균2: [[${(main3VO.getKrScore + main3VO.getEnScore +main3VO.getMaScore) / 3.0}]]
      <!-- 타입리프를 주석처리하려면 타임리프 문장 앞 뒤로 /* */ -->
       <!-- /*[[${avg}]] */ -->
      <input type="submit" value="타이틀로">
    </form>
    
  
</body>
</html>